<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/ok.css' %}">
    <script src=></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <style>
        tr,th,td{
            border:1px solid black
        }
    </style>
</head>
<body>
    <div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="margin-right: 1750px;">
            <a class="navbar-brand" href="#" id="topp"><i class="fa fa-th" aria-hidden="true">Dashboard</i>
            </a>
            <div class="container"><center><h1 id="ko" style="color: aliceblue; font-size: medium;">CRUD OPERATIONS</h1></center></div>
            
        </div>
        
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                <a href="{% url 'back' %}"><i class="fa fa-home"></i>HOME</a>
               </li>
                <li>
                    <a href="{% url 'first1' %}"><i class="fa fa-fw fa-user-plus"></i>FIRST DATA</a>
                </li>
                <li>
                    <a href="{% url 'last1' %}" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw fa-user-plus"></i>LAST DATA</a>
                </li>
                <li>
                    <a href="{% url 'all1' %}"><i class="fa fa-fw fa-user-plus"></i>ALL DATA</a>
                </li>
                <li>
                    <a href="{% url 'add' %}"><i class="fa fa-fw fa-paper-plane-o"></i>NEW MEMBER</a>
                </li>
                
            </ul>
          </div>

        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container" style="margin-left: 180PX;">
            <!-- Page Heading -->
            <div class="container" style="width: 800px;">
                <center>
                <h2 style="margin-top: 150px;">Customer details</h2> </center>   
                   
                  <table class="table table-bordered">
                    <thead class="table-dark">
                      <tr>
                        <th>S.no</th>
                        <th>FIRSTNAME</th>
                        <th>LASTNAME</th>
                        <th>EMAIL</th>
                        <th>UPDATE</th>
                        <th>DELETE</th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for i in data %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.Firstname}}</td>
                        <td>{{i.Lastname}}</td>
                        <td>{{i.Email}}</td>
                        <td><a class='btn btn-success' href="up/{{i.id}}">Update</a></td>
                        <td><a class='btn btn-danger' href="de/{{i.id}}">Delete</a></td>
                      </tr>
                    {%  endfor %}
                   </tbody>
                 </table>
            
              </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div><!-- /#wrapper -->
  {% if datas %}
     <div class="container text-light mt-5 p-4" style="width:350px;padding-top:300px;margin-right: 700px; background-color:rgb(48, 68, 68)">
   
      <h1 style="font-size: 40px; padding-left:80px;">Update</h1>
      <form action="/up/{{datas.id}}" method="post" autocomplete="off" >
         {% csrf_token %}
        <div class="mb-3 mt-3">
          <label for="name">Firstname:</label>
          <input type="text" class="form-control" id="name" placeholder="Enter the Firstname" name="name" value="{{datas.Firstname}}">
        </div>
        <div class="mb-3">
          <label for="age">Lastname</label>
          <input type="text" class="form-control" id="age" placeholder="Enter your Lastname" name="age" value="{{datas.Lastname}}">
        </div>
        <div class="mb-3">
          <label for="">Email</label>
          <input type="email" class="form-control" id="pwd" placeholder="Enter your email" name="city" value="{{datas.Email}}">
        </div>
        <button type="submit" class="btn btn-primary mb-2 mt-3" style="width:100%;">update</button>
      </form>

     </div>
    {% endif %}
     
</body>
</html>
    

    